.header-content {
  margin: 0;
  padding: 15px;
}

.close-icon{
  float: right;
  right: 15px;
  top: 10px;
  position: absolute;
  span {
    cursor: pointer;
  }
}

.body-content {
  padding: 20px;
  line-break: anywhere;
  /*border-top: 1px solid #eee;*/
  /*border-bottom: 1px solid #eee;*/
}

.footer-content{
  display: flow-root;
  button {
    margin: 10px;
    float: right;
  }
}